// @font-face {
//     font-family: "Beatrice";
//     src: url(../../../public/beatrice-bw7r5.ttf);
//   }

body {
  background-color: #f8f9fa;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

.admin {
  position: relative;
}
.title-font {
  font-family: "Beatrice";
  color: #00344b;
}
.modal-header h5 {
  font-family: "Beatrice";
  color: #00344b;
}

.chart_data {
  margin-top: -20px;
}
.card_header {
  font-size: 13px;
}
/* .top-background {
      background-color: #5e72e4;
      min-height: 300px;
      position: fixed;
      width: 100%;
  } */
.ql-editor {
  min-height: 200px;
}

/* SideNav */
.sidenav {
  background-color: #f8f8f8;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 14rem;
  overflow-y: auto;
  padding: 0;
  box-shadow: none;
  z-index: 1;
  /* box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15); */
  border: 1px solid #e1e1e1;
  left: 0;
  /* margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1.5rem; */
  /* border-radius: 0.4rem; */
}

.sidenav-header {
  height: 4.875rem;
  text-align: center;
}

.brand-logo img {
  height: 50px;
  margin: 1.5rem 2rem;
}

.sidenav .navbar-nav .nav-item {
  padding: 0;
  line-height: inherit;
}

.sidenav .navbar-nav .nav-link {
  margin: 0 0.04rem;
  padding: 0.675rem 1rem;
  font-weight: 400;
  color: #67748e;
  cursor: pointer;
}

.sidenav .navbar-nav .nav-link:focus,
.sidenav .navbar-nav .nav-link:active,
.sidenav .navbar-nav .nav-link.active,
.sidenav .navbar-nav .nav-link:hover {
  font-weight: 600;
  color: #fff;
  background-color: #3142a1;
  border: 0.01 solid #3142a1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.sidenav .navbar-nav .nav-link svg {
  margin-right: 0.5rem;
  position: relative;
  top: -2px;
  font-size: 24px;
}

.custom-scroll {
  overflow: auto !important;
  width: 103%;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #67748e;
}

.sidenav::-webkit-scrollbar {
  width: 6px;
}

.sidenav::-webkit-scrollbar-track {
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb:hover {
  background: #67748e;
}

.sidebar-closing {
  display: none;
}

.admin-aside-modification .support_aside {
  padding: 20px 0;
}

.admin-aside-modification .support_aside .nav-tabs {
  border-bottom: none;
}

.admin-aside-modification .support_aside .nav-item {
  border-bottom: none;
  padding: 15px 0;
  line-height: inherit;
  display: block;
  width: 100%;
}

.admin-aside-modification .support_aside .nav-item .nav-link {
  text-align: center;
  font-weight: 600;
  position: relative;
  font-family: "Beatrice";
  color: #00344b;
  border: none !important;
  font-size: 12px;
}

.admin-aside-modification .support_aside .nav-item .nav-link:hover {
  background-color: transparent !important;
}

.admin-aside-modification .support_aside .nav-item .nav-link.active {
  background-color: transparent !important;
  color: #e26a38 !important;
  border: none !important;
}

.admin-aside-modification .support_aside .nav-item .nav-link.active::after {
  background-color: #e26a38;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 12%;
  top: 30%;
}

.admin-aside-modification .support_aside .nav-item .nav-link.active::before {
  background-color: #e26a38;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: -5%;
  top: 10%;
}

.admin-aside-modification .support_aside .nav-item .nav-link svg {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  width: 20px;
  height: 20px;
}

.admin-aside-modification .support_aside .nav-item .nav-link.active svg {
  color: #e26a38 !important;
}

@media screen and (min-width: 992px) {
  .sidenav .navbar-collapse {
    display: block !important;
  }
}

@media screen and (max-width: 991px) {
  .sidenav {
    transform: translateX(-17.125rem);
    transition: all 1s ease;
  }

  .sidenav hr {
    margin-top: 0;
  }

  .sidenav.mobile-sideView {
    margin-left: 0.7rem;
    transform: translateX(0);
    transition: all 1s ease;
    z-index: 2;
  }

  .brand-logo {
    position: relative;
  }

  .brand-logo img {
    margin: 1rem 2rem;
  }

  .sidebar-closing {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 30px;
    opacity: 0.7;
  }
}
.nav-icon-color {
  color: #00344b !important;
}

/* SideNav */

/* Main */
main {
  position: absolute;
  top: 0;
  width: -webkit-fill-available;
  margin-left: 14rem;
  transition: all 0.2s ease-in-out;
}

main .admin-navbar {
  margin: 0.8rem 1.5rem;
}

main .admin-navbar .nav-item {
  list-style: none;
}

main .admin-navbar .btn-group .btn {
  background: #fff;
  border: none;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: inherit !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 0;
}

.admin-navbar .dropdown-item {
  line-height: 20px;
}

.sidenav-toggler-inner {
  display: none;
}

.sidenav-toggler-inner svg {
  font-size: 30px;
  /* color: #fff; */
  /* margin-left: 15px; */
}

main .admin-body-layout {
  min-height: 71vh;
  padding: 0 15px;
}

/* Dahsboard Table */

.admin-body-layout .newThemeTable {
  margin-bottom: 0;
}

.admin-body-layout .newThemeTable > thead {
  outline: #c5c5c5 solid 1px;
}

.admin-body-layout .newThemeTable thead tr th,
.admin-body-layout .newThemeTable tbody tr td {
  padding: 20px;
  color: #595858;
  font-weight: 300;
}
.admin-body-layout .recentDonorTable tbody tr td {
  padding: 10px !important;
  color: #595858;
  font-weight: 300;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #fff;
}

.admin-body-layout .newThemeTable thead tr th {
  color: #212529;
  font-weight: 600;
}

.admin-body-layout .newThemeTable thead tr th svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.admin-body-layout .newThemeTable tbody tr td a {
  color: #595858;
  font-weight: 300;
}

.admin-body-layout
  .newThemeTable
  tbody
  tr:last-child
  td:last-child
  .modal_Dropdown
  .dropdown-menu {
  height: 144px;
  transform: translate3d(0px, -181px, 0px) !important;
}

.admin-body-layout
  .newThemeTable
  tbody
  tr:last-child
  td:last-child
  .modal_Dropdown
  .dropdown-menu::before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #fff;
  border-bottom: none;
  bottom: -12px;
  top: initial;
  transform: rotate(120deg);
  right: 6px;
}

@media screen and (min-width: 1025px) {
  .admin-body-layout
    .newThemeTable
    tbody
    tr:nth-last-child(2)
    td:last-child
    .modal_Dropdown
    .dropdown-menu {
    height: 144px;
    transform: translate3d(0px, -181px, 0px) !important;
  }

  .admin-body-layout
    .newThemeTable
    tbody
    tr:nth-last-child(2)
    td:last-child
    .modal_Dropdown
    .dropdown-menu::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid #fff;
    border-bottom: none;
    bottom: -12px;
    top: initial;
    transform: rotate(120deg);
    right: 6px;
  }
}

.modal_Dropdown .dropdown_btn {
  /* background-color: transparent; */
  /* border: none; */
  color: #00344b;
  /* padding: 0; */
  /* line-height: 0;
      font-size: 22px; */
  background-color: transparent;
  border: none;
}

.modal_Dropdown .dropdown_btn:hover,
.modal_Dropdown.show .dropdown_btn:hover,
.modal_Dropdown.show .dropdown_btn:active,
.modal_Dropdown.show .dropdown_btn.active,
.modal_Dropdown.show .dropdown_btn:focus {
  background-color: transparent !important;
  color: #000;
  box-shadow: none !important;
  outline: none;
}

.modal_Dropdown .btn:first-child:active:focus-visible {
  background-color: transparent;
  color: #000;
  box-shadow: none !important;
  outline: none;
}

.modal_Dropdown .dropdown-menu {
  position: relative;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  border: none;
  top: 18px !important;
}

.modal_Dropdown .dropdown-menu::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #fff;
  right: 0;
  top: -14px;
}

.modal_Dropdown .dropdown-item {
  color: #595858;
  font-size: 14px;
  padding: 10px 15px;
}

.donor_icon {
  cursor: pointer;
  color: rgb(226, 106, 56);
  border: rgb(226, 106, 56) solid 1px;
  border-radius: 30px;
  width: 100%;
  padding: 4px;
  height: 28px;
}

/* Dahsboard Table */

/* Dahsboard Modal */

.modal-header {
  /* position: relative; */
  width: 62%;
  margin: auto;
  border-bottom: none !important;
  padding: 25px 0 10px !important;
}

.modal-title {
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.modal-header .btn-close {
  border: #595858 solid 1px;
  border-radius: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 60px;
  background-position: 25% 50%;
  background-size: 10px;
  font-size: 10px;
}

.modal-header .btn-close::after {
  content: "close";
  position: absolute;
  top: 3px;
  left: 40%;
  font-size: 13px;
}

.modal-body {
  padding: 30px 40px !important;
}

.modal-body .form-label,
.modal-body .form-control,
.modal-body .form-select,
.modal-body .css-6j8wv5-Input {
  color: #595858;
  font-size: 14px;
}

.modal-body .btn,
.modal-footer .btn {
  width: 100%;
  font-size: 16px;
}

.modal-footer {
  border-top: none;
}

/* Dahsboard Modal */

@media screen and (max-width: 991px) {
  main {
    margin-left: 0;
  }

  main .admin-navbar {
    margin: 0.8rem 0;
  }

  .blur-layout {
    opacity: 0.1;
    background-color: #000;
  }

  .sidenav-toggler-inner {
    display: block;
  }

  .modal-header {
    width: 100%;
    padding: 48px 15px 0px !important;
  }

  .modal-body {
    padding: 30px 15px !important;
  }
}

/* Main */

/* Footer */
.copyright {
  font-size: 14px;
  padding: 15px 0;
  font-weight: 500;
}

/* Table */
.table > thead {
  outline: #c5c5c5 solid 1px;
}

.table thead tr th {
  border-bottom-color: snow;
  font-size: 18px;
}

/* Table */
/* CkEditor5 */

/* .history-cart {
    border-width: 0 !important;
    border-bottom-width: 3px !important;
    outline: #ededed solid 1px !important;
    min-height: 152px;
  }
  
  .history-cart p {
    margin-bottom: 0;
    font-size: 18px;
  } */

/* .history-cart .dashboard-dollar-icons {
    position: absolute;
    right: 0;
    color: rgba(136, 152, 170, 0.25);
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(130%, -50%);
  } */

/* .history-cart .history-card-date {
    font-size: 14px;
  }
  
  .history-cart:hover {
    transform: scale(1.03);
    transition: 0.8s;
  } */

.e-header-icon-wrapper .e-delete,
.e-event-popup .e-popup-content,
.e-time {
  display: none !important;
}

.e-header-icon-wrapper,
.e-event-popup {
  display: none !important;
}

.e-appointment-wrapper [aria-label*="DMF"] {
  background-color: #23893e !important;
}

.e-popup-header {
  background-color: #23893e;
}

/* .history-cart h5 {
    cursor: pointer;
  } */

table table table td p {
  padding-bottom: 0.2rem !important;
}

table table table td p br {
  display: none !important;
}

table table table td p:empty {
  display: none !important;
}

.nomination-card {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 1px 1px 5px #ccc;
}

.nomination-title {
  background-color: #6d79b9 !important;
  color: white;
  padding: 10px 0;
  text-indent: 12px;
  font-weight: 600;
}

.customise_table {
  border: 1px solid rgb(185, 185, 185);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* .submission_table{
  } */

.nomination_tab {
  cursor: pointer;
  padding: 10px;
  color: #000;
  margin-left: -16px;
}

.active_nomination_tab {
  color: #5e72e4;
  border: 1px solid rgb(181, 181, 181);
  border-bottom: none;
  padding: 10px;
  max-height: auto;
  margin-bottom: 10px;
  background-color: white;
}

.nav-tabs {
  --bs-nav-tabs-border-radius: 0rem !important;
}

.grant_tab,
.active_grant_tab {
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #000;
  background-color: white;
  padding: 0px 0px;
  text-indent: 10px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: -1px;
}

.grant_tab h5,
.active_grant_tab h5 {
  padding: 0;
  margin: 0;
  text-indent: 0;
  font-family: "Work Sans !important";
  color: #00344b;
  font-weight: 900;
  font-size: 20px;
}

.active_grant_tab h5 {
  color: #00344b;
}

.active_grant_tab {
  border: 1px solid rgb(185, 185, 185);
  border-bottom-color: white !important;
  cursor: default !important;
}

@media screen and (max-width: 650px) {
  .active_grant_tab {
    margin-bottom: 3px;
  }

  .active_grant_tab {
    border-bottom-color: rgb(185, 185, 185) !important;
    border-radius: 6px !important;
    margin-bottom: 3px !important;
  }

  .customise_table {
    border-radius: 6px !important;
  }
}

@media screen and (max-width: 1100px) {
  .grant_tab h5,
  .active_grant_tab h5 {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .active_grant_tab {
    /* border-bottom-color: white !important; */
    cursor: default !important;
  }
}

.border-r6 {
  border-radius: 6px !important;
}

.admin .nav-link {
  padding: 0.1rem 1.2rem;
}

table tbody > tr:last-child > td {
  border-bottom: 0;
}

.table thead > tr:last-child > th {
  font-family: "Work Sans !important";
  font-style: normal;
  font-weight: 800 !important;
  font-size: 14px;
  color: #00344b;
}

/* Customised Calender */

/* .admin-calender-customised .e-schedule {
    border: none;
    border-radius: 6px;
  }
  
  .admin-calender-customised .e-schedule .e-schedule-toolbar {
    margin-bottom: 0;
  }
  
  .admin-calender-customised
    .e-toolbar
    .e-toolbar-items
    .e-toolbar-item
    .e-tbar-btn.e-btn {
    padding: 0;
  }
  
  .admin-calender-customised .e-toolbar-item.e-separator {
    border-right: none !important;
  }
  
  .admin-calender-customised .e-toolbar .e-toolbar-item .e-tbar-btn.e-btn {
    line-height: 24px;
  }
  
  .admin-calender-customised
    .e-schedule
    .e-schedule-toolbar
    .e-toolbar-items
    .e-toolbar-item.e-date-range
    .e-tbar-btn
    .e-tbar-btn-text {
    line-height: 26px;
  }
  
  .admin-calender-customised .e-schedule .e-table-container {
    padding: 10px;
    background: #f4ede6;
  }
  
  .admin-calender-customised .e-schedule .e-schedule-toolbar .e-toolbar-items,
  .admin-calender-customised
    .e-schedule
    .e-schedule-toolbar
    .e-toolbar-items
    span,
  .admin-calender-customised .e-toolbar .e-hor-nav,
  .admin-calender-customised .e-schedule .e-schedule-table tbody tr td {
    background: #f4ede6;
    border-width: 0;
  }
  
  .admin-calender-customised
    .e-schedule
    .e-month-view
    .e-current-date
    .e-date-header {
    background-color: #e26a38;
    border-radius: 6px;
    width: 92%;
  } */

/* .select__menu{
      display: none;
    } */
.select-menu,
css-2l3qy {
  display: none;
}

.chart {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 1px 5px 1px;
  border-radius: 5px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.01),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0) !important;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.01),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0) !important;
}

.card .percentage {
  height: 22px;
}

.nomination .percentage span,
.nomination-bar,
.nomination-bar:hover {
  color: #e26a38;
}

.submission .percentage span,
.submission-bar,
.submission-bar:hover {
  color: #802367;
}

.nomination2 .percentage span,
.nomination2-bar,
.nomination2-bar:hover {
  color: #00b574;
}

.submission2 .percentage span,
.submission2-bar,
.submission2-bar:hover {
  color: #000000;
}

.view-more {
  position: relative;
}

.nomination-bar::before,
.submission-bar::before,
.nomination2-bar::before,
.submission2-bar::before {
  position: absolute;
  content: "";
  border-radius: 30px;
  width: 90px;
  height: 3px;
  background-color: #000;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.nomination-bar::before {
  background-color: #e26a38;
}

.submission-bar::before {
  background-color: #802367;
}

.nomination2-bar::before {
  background-color: #00b574;
}

.dropdown-picker {
  border: none !important;
  text-align: end;
}

.dropdown-picker:focus {
  box-shadow: none;
}

.daterangepicker.opensright:before {
  right: 44px;
  left: inherit !important;
}

.daterangepicker.opensright:after {
  right: 45px;
  left: inherit !important;
}

.pagination .page-link {
  color: #212832;
  border: none;
  border: #fff solid 1px;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
  background-color: transparent;
  color: #e26a38;
  border-color: transparent;
  box-shadow: none;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  color: #e26a38;
  border: #e26a38 solid 1px;
  background-color: #fff;
  border-radius: 6px;
}

.pagination .page-item:first-child .page-link {
  border: none;
}

@media screen and (max-width: 767px) {
  main .admin-body-layout {
    padding: 0;
  }
  .card .percentage {
    height: auto;
  }
}

/* Recent DMF donor */

.recent_donor_font {
  font-weight: 600;
}
.view-more-btn {
  border-color: #00344b !important;
}

/* Sidebar font */

.nav-font {
  font-family: "Beatrice";
  color: #403d3d;
  font-weight: 100 !important;
  font-size: 12px;
}
/* New Calender */

/* modal */
.select__control.css-13cymwt-control {
  background-color: hsl(0, 0%, 95%);
}
.select__control .select__multi-value {
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  padding: 4px 10px;
  border: #c5c3c3 solid 1px;
}
.select__control .select__multi-value__remove,
.select__clear-indicator {
  background-color: #668593;
  border-radius: 50%;
  padding: 5px 6px;
  margin-left: 10px;
}
.select__control .select__multi-value__remove svg,
.select__clear-indicator svg {
  color: #fff;
}
/* dropdown remove icon */
.remove-icon {
  color: #e26a38;
}
.edit-icon {
  color: #00344b;
}
.details-icon {
  color: #00344b;
}

/* Sub-menu-font */
#sub-menu-font {
  font-family: "Work Sans !important";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

/* new Calender */

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #08344b;
  text-decoration: none;
}
.admin-calender-customised {
  background-color: #f4ede6;
}
.fc-daygrid-day-number {
  color: #000;
  text-decoration: none;
}
.fc-next-button,
.fc-prev-button {
  background: none !important;
  color: black !important;
  border: none !important;
}
.fc .fc-toolbar-title {
  font-family: "Beatrice";
  color: #08344b;
  font-size: 18px;
  margin: 0;
  margin-right: 225px;
  line-height: 5px;
}
.fc-theme-standard td {
  border: none !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: #e26a38;
  border-radius: 10px;
}
/* Search header */
.collapse show,
.card-header {
  font-family: "Work Sans !important";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 16px;
  color: #00344b !important;
}
.breadcrumb-item a {
  color: #00344b;
}
.breadcrumb-item.active {
  width: 75%;
}
a.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
  background-color: #e26a38;
  border-color: #e26a38;
}
.calendar .fc-toolbar-title {
  margin-right: auto;
}
.admin-calender-customised .calendar .calender_sorting {
  text-align: right;
  padding: 15px;
  padding-bottom: 0;
}
.admin-calender-customised .calendar .calender_sorting span {
  margin-right: 10px;
}
.admin-calender-customised .calendar .calender_sorting #calendar-view-select {
  background-color: transparent;
  border-radius: 30px;
  padding: 3px 6px;
}
/* Setting */
.admin-body-layout .support_aside .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0;
}
.admin-body-layout .support_aside .nav-link {
  text-align: left;
  font-weight: 400;
  font-family: "Beatrice";
  color: #00344b;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
}
.admin-body-layout .support_aside .nav-link svg {
  margin-right: 5px;
  vertical-align: sub;
  color: #c5ccd6;
}
.admin-body-layout .support_aside .nav-link.active {
  background-color: #e26a38 !important;
  color: #fff !important;
  border-radius: 0;
}
/* Setting */

.update_payment_text{
  color: #00344b  !important;
  font-size: 18px;
}
.draggable {
  top: auto !important;
  left: auto !important;
}
.react-datepicker-wrapper{
  width: 100%;
}